    .subscribe-button{
        background-color: rgb(200, 0, 0);
        color: white;
        border:none;
        border-radius: 3px;
        height: 35px;
        width: 105px;
        cursor: pointer;
        margin-right:8px ;
    }
        .join-button{
        color: rgb(10, 180, 247);
        border-color:rgb(10, 180, 247) ;
        border-style: solid;
        border-width:1px;
        height:35px;
        width:60px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
    }
        .tweet-button{
        background-color: rgb(47, 154, 241);
        border: none;
        color: white;
        font-weight:bold;
        font-size: 18px;
        height:35px;
        width: 74px;
        border-radius: 20px;
        cursor: pointer;}